{% extends 'layout.html' %}
{% block title %}{{ t('orders_title') }}{% endblock %}
{% block header %}{{ t('orders_title') }}{% endblock %}

{% block content %}
<div class="logout-container">
  <a href="{{ url_for('logout') }}" class="link">{{ t('logout') }}</a>
</div>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>{{ t('client') }}</th>
        <th>{{ t('email') }}</th>
        <th>{{ t('description') }}</th>
        <th>{{ t('measures') }}</th>
        <th>{{ t('material') }}</th>
        <th>{{ t('status') }}</th>
        <th>{{ t('image') }}</th>
        <th>{{ t('update_status') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for e in encomendas %}
      <tr>
        <td>{{ e.nome }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.descricao }}</td>
        <td>{{ e.medidas }}</td>
        <td>{{ e.material }}</td>
        <td>
          {% if e.estado == 'Pendente' %}
            {{ t('pending') }}
          {% elif e.estado == 'Em produção' %}
            {{ t('in_production') }}
          {% elif e.estado == 'Finalizada' %}
            {{ t('finished') }}
          {% else %}
            {{ e.estado }}
          {% endif %}
        </td>
        <td>
          {% if e.imagem_url %}
            <img src="{{ e.imagem_url }}" alt="{{ t('image') }}">
          {% else %}
            -
          {% endif %}
        </td>
        <td>
          <form method="post" action="{{ url_for('atualizar_estado', id=e._id) }}" style="display:inline;">
            <select name="estado" required>
              <option value="Pendente" {% if e.estado == 'Pendente' %}selected{% endif %}>{{ t('pending') }}</option>
              <option value="Em produção" {% if e.estado == 'Em produção' %}selected{% endif %}>{{ t('in_production') }}</option>
              <option value="Finalizada" {% if e.estado == 'Finalizada' %}selected{% endif %}>{{ t('finished') }}</option>
            </select>
            <button type="submit">{{ t('update_button') }}</button>
          </form>

          <form action="{{ url_for('apagar_encomenda', id=e._id) }}" method="post" style="display:inline;">
           <button type="submit" onclick="return confirm(`{{ t('delete_confirm') }}`);">{{ t('delete_button') }}</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}