{% extends 'layout.html' %}
{% block title %}{{ t('login_title') }}{% endblock %}
{% block header %}{{ t('login_header') }}{% endblock %}

{% block content %}
<p>{{ t('welcome_msg') }}</p>

{% if erro %}
  <p style="color:red;">{{ erro }}</p>
{% endif %}

<form method="POST" class="form" autocomplete="off">
    <input type="password" name="senha" placeholder="{{ t('password_placeholder') }}" required autofocus>
    <button type="submit" class="btn">{{ t('login_button') }}</button>
</form>

<button type="button" class="btn" id="backButton">{{ t('back_button') }}</button>

<script>
    document.getElementById('backButton').addEventListener('click', function() {
        window.location.href = "{{ url_for('index') }}";
    });
</script>
{% endblock %}